 *, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

html{
    font-size: 15px;
    font-family: league spartan;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg) ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 50%, 50%;
}

.review-section{
    display: flex;
    flex-direction: column;
    padding: 8.75rem;
    height: 100vh;
}

.description-rating-box{
    height: 50%;
    display: flex;
}

.tagline-description{
    width: 50%;
}

.tagline{
    width: 60%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}

.description{
    width: 70%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--Dark-Grayish-Magenta);
}

.ratings{
    height: 50%;
    width: 50%;
    justify-content: center;
}

.rating-box-1, .rating-box-2, .rating-box-3{
    width: 60%;
    display: flex;
    padding: 1.25rem;
    background: var(--Light-Grayish-Magenta);
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    color: var(--Very-Dark-Magenta);
    font-size: 1.25rem;
    font-family: League Spartan;
    justify-content: center;
}

.rating-box-1{
    margin-right: auto;   
}
.rating-box-2{
    margin-left: auto;
    margin-right: auto;
}
.rating-box-3{
    margin-left: auto;
}

.stars-rating-box{
    margin-right: 2rem;
}   

.testimonials{
    display: flex;
    height: 50%;
    align-items: center;
}

.testimonial1, .testimonial2, .testimonial3{
    background: var(--Very-Dark-Magenta);
    color: var(--White);
    font-family: league spartan;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 3rem;
    border-radius: 15px;
    line-height: 1.75rem;
    height: 80%;
}

.testimonial1, .testimonial2{
    margin-right: 0.75rem;
}

.testimonial1{
    margin-bottom: auto;
}
.testimonial3{
    margin-top: auto;
}
#review-upperRowImg{
    display: flex;
}

h5{
    color: var(--Soft-Pink);
}

.profile-img{
    width: 50px;
    margin-right: 2rem;
    border-radius: 50%;
}

.testimonial-text{
    margin-top: 1.25rem;
}